name: Deploy node app using CICD

on:
  push:
    branches:
      - main
      - master
    
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{secrets.EC2_USER}}
          key:  ${{secrets.EC2_SSH_KEY}}
          script: |
            cd /home/ubuntu/Node_CICD
            git pull origin main
            docker compose down
            docker compose up -d --build